.wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.wrapper button {
  padding: 10px 20px;
  background: rgb(14, 64, 104);
  color: rgb(235, 232, 63);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.accordion {
  width: 500px;
}
.item {
  background: rgb(14, 64, 104);
  margin-bottom: 10px;
  padding: 10px 20px;
}
.title {
  color: rgb(235, 232, 63);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  color: rgb(235, 232, 63);
}
